<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveModifiedFiles</string>
	<key>capturePattern</key>
	<string>^(.*)\s+line:\s+(\d+)\s+col:\s+(\d+).*$</string>
	<key>columnCaptureRegister</key>
	<string>3</string>
	<key>command</key>
	<string>#!/usr/bin/env ruby18 -wKU

require "#{ENV['TM_SUPPORT_PATH']}/lib/tm/executor"
require "#{ENV['TM_SUPPORT_PATH']}/lib/tm/save_current_document"

TextMate.save_if_untitled('py')

cmd  = ENV['TM_PYCHECKER'] || 'flake8'
file = ENV['TM_FILEPATH']
opts = {
  :use_hashbang    =&gt; false,
  :verb            =&gt; 'Checking',
  :version_replace =&gt; "#{File.basename(cmd)} \\1"
}

TextMate::Executor.run(cmd, file, opts)
</string>
	<key>fileCaptureRegister</key>
	<string>1</string>
	<key>input</key>
	<string>document</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>keyEquivalent</key>
	<string>^V</string>
	<key>lineCaptureRegister</key>
	<string>2</string>
	<key>name</key>
	<string>Validate Syntax</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>html</string>
	<key>outputLocation</key>
	<string>newWindow</string>
	<key>requiredCommands</key>
	<array>
		<dict>
			<key>command</key>
			<string>flake8</string>
			<key>locations</key>
			<array>
				<string>/usr/local/bin/flake8</string>
				<string>/opt/local/bin/flake8</string>
				<string>$HOME/.local/bin/flake8</string>
			</array>
			<key>variable</key>
			<string>TM_PYCHECKER</string>
		</dict>
	</array>
	<key>scope</key>
	<string>source.python</string>
	<key>uuid</key>
	<string>44C9C59C-89F9-11D9-9326-000D93B6E43C</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
